.datatable(id=_tableId)
  .col-xs-12
    table(class=_css)
      thead
        tr
          each col, index in _columns
            if col.customHtmlHead
              != col.customHtmlHead
            else if "checkboxCol" == col.name
              if "multi" == _selectMode
                td.checkbox-row(data-selector="true")
                  .checkbox
                    input.select-item(type="checkbox", id=checkAllId)
                    label(for=checkAllId)
              else
                td
            else if col.filterable
              td(class=col.css)
                .input-group
                  input.form-control(name="_filter-" + col.name, placeholder=col.title, data-filter=col.name+ "_" + col.filterType, data-bind="value: "+ col.name+ "_" + col.filterType + ", valueUpdate: 'keyup'")
                  if col.sortable
                    span.input-group-addon
                      i.fa.fa-sort
            else
              if (col.title == 'Nutzer') || (col.title == 'Typ')
                td.visible-sm.visible-md.visible-lg(class=col.css)
                  div(style="font-weight:bold;", class=col.rowCss)
                    != col.title
              else
                td(class=col.css)
                  div(style="font-weight:bold;", class=col.rowCss)
                    != col.title

      tbody(data-bind="foreach: data")
        each row, index in _data
          tr
            td
              != row.dateStr
            td.visible-sm.visible-md.visible-lg
              != row.typeLabel
            td(id="tdDesc" + row._id)
              != row.description
            td.visible-sm.visible-md.visible-lg
              != row.author

